# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*

# Environment variables
.env

# Uploaded files
uploads/

# IDE/Editor settings
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Other
*.tmp